@import '../../../scss/settings';

.song-kick {
	display: block;

	&__artist {
		width: 100%;

		@include mq(vars(breakpoint, med), max-width) {
			margin-top: rem(rem(vars(layout, gutter)));
		}

		@include mq(vars(breakpoint, med)) {
			margin-top: calc(rem(vars(layout, gutter)) * 2);
		}

		&:first-child {
			margin-top: 0;
		}

		&:nth-child(2) {
			border-top: 0;
		}
	}

	&__content {
		@include mq(vars(breakpoint, med), max-width) {
			padding: rem(spacing(1));
		}

		@include mq(vars(breakpoint, med)) {
			padding: rem(spacing(2));
		}
	}
}
