@use '@styles/settings' as *;

@keyframes kf-col {
	from {
		transform: translateX(-1000%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes kf-decal {
	from {
		bottom: -100%;
	}

	to {
		bottom: 0;
	}
}

@keyframes kf-image {
	0% {
		width: 400%;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		width: 100%;
		opacity: 1;
	}
}

.animated-banner {
	@include color-scheme(
		(
			--title-bg: $light,
			--title-color: $dark
		),
		(
			--title-bg: $dark,
			--title-color: $light
		)
	);

	position: relative;
	overflow: hidden;

	&__col {
		transform: translateX(-1000%);
		animation-name: kf-col;
		animation-duration: 1.5s;
		animation-timing-function: ease-in-out;
		animation-delay: 2.5s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@include mq-reduce-motion {
			transform: translateX(0);
		}
	}

	&__title {
		color: var(--title-color);
		transform: rotate(-2deg);

		@include disable(disabled);

		&-inside {
			display: inline-block;
			background-color: var(--title-bg);

			@include sizing('padding', [size(4), size(8)]);
		}
	}

	&__decal {
		bottom: -100%;
		height: calc(100% - size(layout(header-height)));
		animation-name: kf-decal;
		animation-duration: 1.5s;
		animation-timing-function: ease-in-out;
		animation-delay: 1.5s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@include mq-reduce-motion {
			bottom: 0;
		}

		@include mq(breakpoint(med)) {
			right: 15%;
		}

		@include mq(breakpoint(med), max-width) {
			right: 5%;
		}
	}

	&__image {
		top: 0;
		bottom: 0;
		left: 0;
		width: 400%;
		opacity: 0;
		overflow: hidden;
		animation-name: kf-image;
		animation-duration: 5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@include mq-reduce-motion {
			width: 100%;
			opacity: 1;
		}
	}
}
