@use '@styles/settings' as *;

@keyframes kf-row {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes kf-decal {
	from {
		bottom: -100%;
	}

	to {
		bottom: 0;
	}
}

@keyframes kf-background {
	from {
		background-position: 0 0;
		background-size: 140%;
	}

	to {
		background-position: 100% 0;
		background-size: 100%;
	}
}

.animated-banner {
	position: relative;
	overflow: hidden;
	background-repeat: repeat;
	animation-name: kf-background;
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	@include disable(disabled);
	@include transition('all');

	&__row {
		position: relative;
		z-index: 1;
		transform: translateX(-100%);
		animation-name: kf-row;
		animation-duration: 2s;
		animation-timing-function: ease-in-out;
		animation-delay: 3s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	&__title {
		color: $light;
		transform: rotate(-2deg);

		&-inside {
			display: inline-block;
			background-color: rgba($dark, .8);

			@include sizing('padding', [size(2), size(4)]);
		}
	}

	&__decal {
		position: absolute;
		bottom: -100%;
		z-index: 0;
		height: calc(100% - size(layout(header-height)));
		animation-name: kf-decal;
		animation-duration: 2s;
		animation-timing-function: ease-in-out;
		animation-delay: 2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@include mq(breakpoint(med)) {
			right: 15%;
		}

		@include mq(breakpoint(med), max-width) {
			right: 5%;
		}
	}
}
