@import '@styles/settings';

.music {
	@include sizing('margin-top', size(-8));

	&__row {
		align-items: center;
	}

	&__logos {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;

		@include sizing('gap', size(2));
		@include sizing('padding-top', size(8));

		&-image {
			margin-right: auto;
			margin-left: auto;

			@include mq-hover {
				@include transition('opacity');

				&:hover {
					opacity: .6;
				}
			}
		}
	}

	&__player {
		@include sizing('margin-top', size(8));
	}

	:global([data-module=Content]) {
		@include sizing('padding-top', size(8));
	}
}
