@import '../../../scss/settings';

.post-nav {
	&__nav {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		&-link {
			margin-right: rem(4px);
			margin-left: rem(4px);
			padding: rem(spacing(.3)) rem(spacing(.5));
			line-height: normal;
			text-decoration: none;

			@include type-icon;
		}
	}
}
