@use '@styles/settings' as *;

.content-image {
	$content-image: &;

	&__container {
		position: relative;

		&:last-child #{$content-image}__content {
			padding-bottom: 0;
		}
	}

	&__row {
		@include mq(breakpoint(med)) {
			min-height: height('half');
		}
	}

	&__figure {
		@include mq(breakpoint(med), max-width) {
			position: static;
		}

		@include mq(breakpoint(med)) {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50%;
			aspect-ratio: auto;
		}

		&.is-left {
			@include mq(breakpoint(med)) {
				left: 0;
			}
		}

		&.is-right {
			@include mq(breakpoint(med)) {
				right: 0;
			}
		}
	}

	&__content {
		@include sizing('padding-top', size(8));
		@include sizing('padding-bottom', size(8));

		@include mq(breakpoint(med)) {
			@include sizing('padding-left', size(8));
			@include sizing('padding-right', size(8));
		}
	}
}
